[######################################___Automatic_Processes___######################################]

[Auto_Process_Treshold_Finder]
instruction = Note That You Should choose the Folder that contains GW sub folders as input Folder
upper_treshold_range = 1
lower_treshold_range = -0.01
threshold_steps_interwall = 0.01
input_folder = E:/Projects/Beta/Experiments/Cellular Tumor Antigen p53 (P04637)/FIRIA Signals
output_folder = C:/Users/keyva/Desktop/Output

[Automatic_Run_1_Delete_Contents1]
folder_path = C:\Users\keyva\Desktop\Files\RMSD Matrix Input

[Automatic_Run_1_Delete_Contents2]
folder_path = C:\Users\keyva\Desktop\Files\RMSD Matrix Output

[Automatic_Run_1-1_File_Extraction]
instruction = this is sample instruction
source_path = E:\Projects\Beta\Experiments\#Breast Cancer\Breast Cancer Type 1 Susceptibility Protein (P38398)\Mutant & Wild\FIRIA Signals\Group A
output_path = C:/Users/keyva/Desktop/Files/Final Result

[Auto_Process_Python_Scripts_Run]
instruction = This Option allows you to run Several Python Scripts in sertain order. to assign Python codes for Run, You Should Modify The Source Code and add Script System Paths in order

[#########################################___Single_Tasks___##########################################]

[Delete_Contents]
instruction = This option allows you to delete all content in a preferred folder.
folder = C:/Users/keyva/Desktop/Output\tmp

[File_Extraction]
instruction = This option allows you to copy all files with a preferred extension from the Source folder and it's subfolders to the output folder.
source_folder = E:/Projects/Beta/Experiments/Cellular Tumor Antigen p53 (P04637)/FIRIA Signals\30 SD
output_folder = C:/Users/keyva/Desktop/Output\tmp\Normal_RMSD_Matrix_Generator_Input
extention = csv

[Files_Rename_add_Scripts]
instruction = This option allows you to add preferred scripts to the end of All file names within a folder.
folder = C:/Users/keyva/Desktop/1
scripts = - Persian Patent
extention = xcf

[Files_Rename_Subtract_Scripts]
instruction = This option allows you to remove preferred number of scripts from the end of All file names within a folder.
folder = C:\Users\keyva\Desktop\Files\General Input
scripts_number_to_remove = 3
extention = csv

[FIRIA_Signal_Generator_(Probability)]
instruction = This option allows you to Generate FIRIA signals Using The preferred parameters.
input_folder = E:/Projects/Beta/Experiments/Cellular Tumor Antigen p53 (P04637)/Dipole Moments
output_folder = C:/Users/keyva/Desktop/sample output
gaussian_width = 10
lower_limit_of_frequency_range_in_per_cm = 0
upper_limit_of_frequency_range_in_per_cm = 4000

[Lines_Cut]
instruction = This option allows you to extract a preferred part of a text file that Starts and Endes with two specified Marker lines and then save it in separate files with the same name as first file. format of the Input files and the output files can be set differently, and this Option will convert all files in the preferred input folder with preferred format.
input_folder = C:\Users\keyva\Desktop\Files\General Input
output_folder = C:\Users\keyva\Desktop\Files\General Output
start_marker = MODE FREQ(CM**-1)  SYMMETRY  RED. MASS  IR INTENS.
end_marker = THERMOCHEMISTRY AT T=  298.15 K
input_files_extention = log
output_files_extention = txt

[Lines_Replacement]
instruction = This option allows you to change the first lines of text files that have a preferred format and are in a preferred folder. you should open Lines_Replacement Script in Source Code to Define new Lines.
folder = C:/Users/keyva/Desktop/Files/General Input
files_extention = inp

[Matrix_Image_Generator]
instruction = This option allows you to create gradient colorized RMSD matrices From CSV Files in a preferred Folder, You Should Modify Source Code to Set Parameters

[Mixed_Signal_Generator]
instruction = This option allows you to create Mixed FIRIA signals from multiple preferred FIRIA signals. Inupt files Name should have a float (not integer) number in it. for example 5.0 and 0.8 but not 5
input_folder = C:/Users/keyva/Desktop/Files/Mixed Signal Input
output_folder = C:\Users\keyva\Desktop\Results

[Normalized_Intensity_RMSD_Matrix_Generator]
instruction = This option allows you to Generate RMSD Matrix of FIRIA signals by normalizing their intensity and Using Treshold to perform RMSD.
lower_normal_range = 0
upper_normal_range = 1
threshold = 0.18
input_folder = C:/Users/keyva/Desktop/Output\tmp\Normal_RMSD_Matrix_Generator_Input
output_folder = C:/Users/keyva/Desktop/Output\tmp

[Orginal_Intensity_RMSD_Matrix_Generator]
instruction = This option allows you to Generate RMSD Matrix of FIRIA signals With their Orginal intensity and No Treshold.
input_folder = C:/Users/keyva/Desktop/Sample Input/RMSD Matrix Input
output_folder = C:\Users\keyva\Desktop\Results

[RMSD_Matrix_Average_Calculator]
instruction = This option allows you to create summary statistical information related to RMSD matrices and their sections.
input_folder = C:/Users/keyva/Desktop/Output\tmp\Normalized_Intensity_RMSD_Matrix_Output
output_folder = C:/Users/keyva/Desktop/Output
output_file_name = 100 SD

[Threshold_Finder]
instruction = This option allows you to find the appropriate Treshold for RMSD Calculations.
input_folder = C:/Users/keyva/Desktop/Output\Avarage RMSD Matrices Output
output_folder = C:/Users/keyva/Desktop/Output
column_to_extract = Total_Min

[TXT_to_CSV_Convertor]
instruction = This option allows you to extract preferred columns of results from text files within preferred folder and save them in csv format with the same names.
input_folder = C:\Users\keyva\Desktop\Sample Input\General Input
output_folder = C:\Users\keyva\Desktop\Sample Input\General Output

[Sample_Section]
instruction = sample
parameter1 = value1
parameter2 = value2
c = 0.5

